# ---------------------------------------------------------------------------
# Attribution (required)
# This project is MIT licensed on one condition: visible credit to its author.
# The server refuses to start until you acknowledge it here. Nothing is sent
# anywhere — see COPYRIGHT.md.
# ---------------------------------------------------------------------------
ATTRIBUTION_ACK="https://github.com/ys941"
